In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/BFS_Share_Price.csv")

In [5]:
df.sample(5)

          Date  Close Price
233  12-Dec-22      1591.95
456   6-Nov-23      1564.20
173  14-Sep-22      1806.10
247  30-Dec-22      1548.45
535  28-Feb-24      1584.10